/** >>>>>>>>>>>>> - - - - - - Global Styles - - - - - - <<<<<<<<<<<<<<<< */
* {
    box-sizing: border-box; 
    margin: auto;
}

Body {
    background-color: rgba(122, 191, 191, .5);
    max-width: 1280px;
}

h1, h2, h3, h4, h5, nav, a, small, label span, figcaption{
    font-family: 'Bebas Neue', cursive;
}

p, li, dd, dt, nav, input {
    font-family: 'Montserrat', sans-serif;
}

dt, .bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

nav li, menu li {
    list-style: none;
}

main, footer {
    position: relative;
    top: 100px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

nav a, nav span, figcaption, menu li, #social li, small{
    font-size: 20px;
}



/** >>>>>>>>>>>>> - - - - - - Header Styles - - - - - - <<<<<<<<<<<<<<<< */
nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: stretch;
    grid-template-areas:
      "first second third"
      "fourth fifth sixth";
    text-align: center;
    background-color: #F2F2F2
  }
  
  #home-logo {
    background-color: #EB5428;
    grid-area: second;
    align-self: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  
#hamburger-menu {
    grid-area: first;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
  }
#sign-in {
    background-color: ;
    grid-area: third;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    background-color: #ffffff;
  }
  
#search {
    grid-area: fifth;
    height: 50px;
  }

#hamburger-menu>div {
    padding-top: 20px;
    text-align: center;
  }

Header {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    max-width: 1280px;
}
    
Header nav img{
    max-width: 100px;
}

#sign-in {
    color: #EB5428;
    background-color: ffffff;
}
    
#search button {
    background-color: #EB5428;
    border: 0;
}
    
#search svg {
    height: 27px;
}
    
#search input {
    height: 30px;
    width: 200px;
    border: solid 2px #EB5428;
}



/**  >>>>>>>>>>>>> - - - - - - Street Tacos (#intro) Styles - - - - - - <<<<<<<<<<<<<<<< */
article {
    background-color: #F2F2F2;
}

article img {
    width: 100%;
}

article menu {
    display: flex;
    padding-bottom: 30px;
    text-align: center;
}

#tacos {
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
}

article p{
    padding: 15px;
}


/** >>>>>>>>>>>>>>> - - - - - - ARTICLE (details) Styles - - - - - - <<<<<<<<<<<<<<<< */
#details {
    padding: 10px 0 20px 10px;
}

dl {
    display: grid;
    grid-template-columns: 120px 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: start;
    justify-items: start;
}

dt, dd {
    padding: 5px 0px 0px 0px;
}

article h3 {
    text-align: center;
} 

/** >>>>>>>>>>>>>>> - - - - - - ARTICLE (ingredients & directions) Styles - - - - - - <<<<<<<<<<<<<<<< */
#ingredients ul li{
 list-style-type: disc;
 padding-top: 5px;
}

#directions, #ingredients {
    padding-top: 5px;
    padding-bottom: 25px; 
}
#directions ol li {
    padding: 5px;
}


/** >>>>>>>>>>>>>>> - - - - - - ASIDE (Side Dishes) Styles - - - - - - <<<<<<<<<<<<<<<< */
aside {
    background-color: #7ABFBF;
    padding: 15px 0px 0px 15px;
}

aside img {
    max-width: 30%;
    padding: 0;
    margin-bottom: -90px;
}

aside h3, aside p, aside div {
    position: relative;
    left: 33%;
}

aside h3 {
    top: 27px;
}

aside p, aside div{
    top: -90px;
    padding: 10px;
}


/** >>>>>>>>>>>>>>> - - - - - - Footer Styles - - - - - - <<<<<<<<<<<<<<<< */
footer {
    background-color: #ffffff;
    padding: 15px 15px 95px 15px;
}

footer img {
    max-width: 40%;
    position:relative;
    left: 30%;
    padding: 20px 0 0 0;
}

small {
    display: block;
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 43%;
}

small~small{
    position: absolute;
    bottom: 20px;
}

footer menu {
    display: flex;

}

/** >>>>>>>>>>>>> - - - - Hamburger Menu Styles - - - - - <<<<<<<<<<<<<<<< */

       #mainnav {
            overflow: hidden;
            max-height: 0; 
            transition: max-height .2s ease-out;
            position: absolute;
            top: 102px;
            left: 0;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;
            margin: 0px;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            padding-left: 0;
            color: #EB5428;
            text-align: center;
            width: 100%;
        }
    
        label {
            cursor: pointer;
            display: inline-block;
            padding: 28px 20px;
            position: relative;
            user-select: none;
            position: absolute;
            top: 0px;
            left: 10px;
        }
        
        label span {
            background-color: #ffffff;
            display: block;
            height: 2px;
            position: relative;
            transition: background-color .2s ease-out;
            width: 18px;
        }
        
        label span:before, label span:after {
            background: transparent;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        
        label span:before {
            top: 5px;
        }
        
        label span:after {
            top: -5px;
        }
        
        #hamburger {
            display: none;
        }
        
        input:checked ~ #mainnav {
            max-height: 900px; 
        }
        
        input:checked ~ label span {
            background: transparent;
        }
        
        input:checked ~ label span:before {
            /** transform: rotate(-45deg); */
        }
        
        input:checked ~ label span:after {
            /** transform: rotate(45deg); */
        }
        
        input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
            top: 0;
        }
        



/**  >>>>>>>>>>>>> - - - - - - Responsive Styles (Medium) - - - - - - <<<<<<<<<<<<<<<< */

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
    /** Header - - - - - - - - - - - - - - - - - - - - - - */
    
    #mainnav {
        display: /*flex; */
    }

    #mainnav li a{
       /** display: flex;
        flex-direction: column; */
    }



    /** Article - - - - - - - - - - - - - - - - - - - - - - */

    #intro img {
        max-width: 100%;
    }



    /** Article: details - - - - - - - - - - - - - - - - - */
        #details {
            background-color: red;
    }


    /** Aside - - - - - - - - - - - - - - - - - - - - - - */



    /** Footer - - - - - - - - - - - - - - - - - - - - - - */




/**  >>>>>>>>>>>>> - - - - Responsive Styles (Large) - - - - - <<<<<<<<<<<<<<<< */
}
@media screen and (min-width: 1280px) {
    
    /** Header - - - - - - - - - - - - - - - - - - - - - -*/
    
    #mainnav {
        display: flex;
        padding: 0;
    }

    #mainnav li a{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap
    }

    #mainnav li a h5{
       position: relative;
       top: 100px;
       color: red;
    }

    /** experimental nav styles */

    #hamburger {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }

    #hamburger li {
        position: relative;
        /*  left: -100px;
        top: -260px; */
    }

    label span, nav input {
        display: none;
    }

    nav {
        position: relative;
        top: 0px;
        left: 0;
    }

    /* logo */ # {
        position: relative;
        left: 37px;
        top: 0;
    }

    #hamburger li~li { 
        position: relative;
        /* left: -100px;
        top: -260px; */
    }

    ul:first-child {
        position: relative;
        /** top: -260px;
        left: -67px; */
    }


    /** Article - - - - - - - - - - - - - - - - - - - - - - */
    #intro {
        display: flex;
    }

    #intro ul {
        display: flex;
    }

    article img {
        max-width: 600px;
    }

    /** Article: Details - - - - - - - - - - - - - - - - - - */

    #details {
        background-color: black;
        color: #7ABFBF;
        text-align: center;
        padding: 1px 0 5px 0;
    }
    


    /** Aside - - - - - - - - - - - - - - - - - - - - - - */
    


    /** Footer - - - - - - - - - - - - - - - - - - - - - - */
    
}