/** >>>>>>>>>>>>> - - - - - - Global Styles - - - - - - <<<<<<<<<<<<<<<< */
* {
    box-sizing: border-box; 
}

Body {
    background-color: rgba(122, 191, 191, .5);
    max-width: 1280px;
    min-width: 400px;
    margin: auto;
}

h1, h2, h3, h4, h5, nav, a, small, label span a, figcaption{
    font-family: 'Bebas Neue', cursive;
}

p, li, dd, dt, nav, input {
    font-family: 'Montserrat', sans-serif;
}

dt, .bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

nav li, menu li {
    list-style: none;
}

main, footer {
    position: relative;
    top: 100px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

nav a, nav span, a, figcaption, menu li, #social li h3, small{
    font-size: 20px;
}

menu h3, span a, menu figcaption {
    color: #EB5428;
    transition: all 1s ease;
}

#sign-in figcaption {
    color: black;
    transition: all 1s ease;
}

menu h3:hover, #sign-in figcaption:hover, menu figcaption:hover{
    background-color: #EB5428;
    color: white;
}

.printonly {
    display: none;
}

/** >>>>>>>>>>>>> - - - - - - Header Styles - - - - - - <<<<<<<<<<<<<<<< */

@media screen and (max-width: 766px) {

nav {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: stretch;
    grid-template-areas:
      "first second third"
      "fourth fourth fourth";
    text-align: center;
    background-color: #F2F2F2;
    min-width: 400px;
    width: 100%;
    position: fixed;
    top: 0;
  }

  #mainnav li {
    height: 170px;
    padding: 0 0 20px 0;
    }
}
  
#home-logo {
    background-color: #EB5428;
    grid-area: second;
    align-self: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  
#hamburger-menu {
    grid-area: first;
    width: 100%;
    background-color: #ffffff;
  }

#hamburger-menu figcaption {
    padding-left: 2px;
}

#sign-in {
    grid-area: third;
    color: #EB5428;
    background-color: #ffffff;
    width: 100%;
    margin-top: -10px;
  }
  
#search {
    grid-area: fourth;
    height: 50px;
    padding-top: 5px;
  }

#hamburger-menu span figure{
    color: #EB5428;
    text-align: center;
  }

Header {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    max-width: 1280px;
}
    
Header nav img {
    max-width: 100px;
}
    
#search button {
    background-color: #EB5428;
    border: 0;
    position: relative;
    top: 7.5px;
    left: -5px;
    padding: 0px;
}
    
#search svg {
    height: 28px;
}
    
#search input {
    height: 31px;
    width: 150px;
    border: solid 2px #EB5428;
}

#mainnav li{
   transition: background-color 1.5s ease;
}

#mainnav li:hover {
    background-color:#f38f70;
}

#mainnav figcaption {
    color: #EB5428;
}

span a {
    margin: 0 0 0 2px;
}

span {
    padding-top: 20px;
    padding-left: 25px;  
}

/**  >>>>>>>>>>>>> - - - - - - Street Tacos (#intro) Styles - - - - - - <<<<<<<<<<<<<<<< */

main {
    background-color: #F2F2F2;
}

main img {
    width: 100%;
}

main menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    color: #EB5428;
    padding: 0;
}

#tacos {
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin: 0;
}

#tacos p {
    padding: 15px;
}


/** >>>>>>>>>>>>>>> - - - - - - MAIN (details) Styles - - - - - - <<<<<<<<<<<<<<<< */

#details {
    padding: 10px 0 20px 10px;
}

dl {
    display: grid;
    grid-template-columns: 120px 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: start;
    justify-items: start;
}

dt, dd {
    padding: 5px 0px 0px 0px;
}

#details h3, #ingredients-directions h3 {
    text-align: center;
} 

/** >>>>>>>>>>>>>>> - - - - - - MAIN (ingredients & directions) Styles - - - - - - <<<<<<<<<<<<<<<< */
#ingredients ul li{
 list-style-type: disc;
 padding-top: 5px;
}

#directions {
    padding-top: 5px;
    padding-bottom: 25px; 
}
#directions ol li {
    padding: 5px;
}

#directions h3, #ingredients h3, #details h2 {
    margin-top: 0;
}


/** >>>>>>>>>>>>>>> - - - - - - ASIDE (Side Dishes) Styles - - - - - - <<<<<<<<<<<<<<<< */
aside {
    background-color: #7ABFBF;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    }
    
aside img {
    max-width: 180px;
    padding-left: 20px;
}

#rice h3, #salsa h3, #guac h3, #tort h3 {
    margin: 0;
}

#rice, #salsa, #guac, #tort {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 38px 38px 38px 50px;
    grid-template-areas: 
        "img h3"
        "img p1"
        "img p2"
        "img stars";
    padding: 25px 0 20px 0;
    margin: 0 0 10px 0;
}

aside p:first-of-type {
    margin-top: 0;
}

#rice img, #salsa img, #guac img, #tort img {
    grid-area: img;
}

#rice, #salsa, #tort, #guac {
    transition: background-color 1.5s ease;
}

#rice:hover, #salsa:hover, #tort:hover, #guac:hover {
    background-color: rgb(241, 200, 38);
}


/** >>>>>>>>>>>>>>> - - - - - - Footer Styles - - - - - - <<<<<<<<<<<<<<<< */
footer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 3fr 1fr;
    grid-template-areas: 
        "menu"
        "img"
        "small";
    justify-items: center;
}

footer img {
    grid-area: img;
    max-width: 200px;
    margin-top: 0;
}

small {
    text-align: center;
    grid-area: small;
    padding-top: 20px;
    margin-top: 0;
}

footer menu {
    display: flex;
    text-align: center;
    color: #EB5428;
    grid-area: menu;
    margin-bottom: 0;
}

footer menu li {
    margin: 20px;
}

footer menu h3 {
    margin-top: 0;
}

/** >>>>>>>>>>>>> - - - - Hamburger Menu Styles - - - - - <<<<<<<<<<<<<<<< */

       #mainnav {
            overflow: hidden;
            max-height: 0; 
            transition: max-height .2s ease-out;
            position: absolute;
            top: 102px;
            left: 0;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;
            margin: 0px;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            padding-left: 0;
            color: #EB5428;
            text-align: center;
            width: 100%;
        }
    
        label {
            cursor: pointer;
            display: inline-block;
            position: relative;
            user-select: none;
            position: absolute;
            top: 0px;
            left: 10px;
        }
        
        label span {
            background-color: #ffffff;
            display: block;
            height: 2px;
            position: relative;
            transition: background-color .2s ease-out;
            width: 18px;
        }
        
        label span:before, label span:after {
            background: transparent;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        
        label span:before {
            top: 5px;
        }
        
        label span:after {
            top: -5px;
        }
        
        #hamburger {
            display: none;
        }
        
        input:checked ~ #mainnav {
            max-height: 900px; 
        }
        
        input:checked ~ label span {
            background: transparent;
        }
        
        input:checked ~ label span:before {
            /** transform: rotate(-45deg); */
        }
        
        input:checked ~ label span:after {
            /** transform: rotate(45deg); */
        }
        
        input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
            top: 0;
        }
        



/**  >>>>>>>>>>>>> - - - - - - Responsive Styles (Medium) - - - - - - <<<<<<<<<<<<<<<< */

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
    /** Header (Medium)- - - - - - - - - - - - - - - - - - - - - - */
    nav {
        display: grid;
        grid-template-columns: 90px repeat(5, 1fr) 180px;
        grid-template-rows: 90px 190px;
        grid-template-areas:
          "home blank blank search search search sign"
          "mainnav mainnav mainnav mainnav mainnav mainnav mainnav";
        text-align: center;
        background-color: white;
        min-width: 400px;
        border-bottom: solid 2px rgb(193, 189, 189);
      }
      
    #home-logo {
        background-color: #EB5428;
        grid-area: home;
        padding: 15px;
      }
      
    #sign-in {
        grid-area: sign;
        color: #EB5428;
        width: 100%;
        background-color: #ffffff;
        padding-top: 0px;
        margin: 0 -10px 0 0;
        justify-self: right;
      }
    
    #sign-in figure{
        margin: 15px 0 0 0;
    }

    #search input {
        width: 250px;
        height: 50px;
    }

    #search button {
        height: 50px;
    }
      
    #search {
        grid-area: search;
        height: 50px;
        padding-top: 10px;
        justify-self: end;
      }

      #hamburger-menu {
        grid-area: mainnav;
        align-self: center;
    }

    #mainnav {
        overflow: visible;
        display: flex;
        position: relative;
        top: -20px;
        justify-content: space-evenly;
        padding-top: 20px;
        
    }

    #mainnav li {
            height: 150px;
            width: 120px;
            margin: 0;
    }

    #mainnav img {
        width: 80px;
    }

    #mainnav figure {
        margin: 0; 
    }

    #mainnav figcaption{
        position: relative;
        top: 110px;
        text-align: center;
    }

    #hamburger-menu label span, nav>input {
        display: none;
    }

    /** Main (Medium)- - - - - - - - - - - - - - - - - - - - - - */

   main {
        padding-top: 140px;
    }

    h1 {
        text-align: left;
        padding-left: 20px;
    }

    #intro menu {
        background-color: rgba(242, 242, 242, .7);
        z-index: 3;
        position: relative;
        top: -5px;
    }
    #intro img {
        position: relative;
        top: -130px;
    }

    #intro-text {
        margin-top: -130px;
        margin-bottom: 20px;
    }
    #intro p {
        margin: 0;
    }


    /** Main: details ingredients directions (Medium)- - - - - - - - - - - - - - - - - */
        #details dl{
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            padding: 0 200px 25px 200px;
         }

        #ingredients-directions {
            display: flex;
            gap: 20px;
            justify-items: center;
        }

        #ingredients {
           flex-basis: 60%;
        }
        #directions {
            padding: 0;
         }

    /** Aside (Medium)- - - - - - - - - - - - - - - - - - - - - - */
         aside {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 1fr 1fr;
            grid-template-areas: 
                "title title"
                "rice salsa"
                "guac tort";
         }

         aside h2 {
            grid-area: title;
         } 

    /** Footer (Medium) - - - - - - - - - - - - - - - - - - - - - - */
         footer {
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas: 
                "img menu"
                "small empty";
            padding-top: 20px;
         }
}


/**  >>>>>>>>>>>>> - - - - Responsive Styles (LARGE) - - - - - <<<<<<<<<<<<<<<< */

@media screen and (min-width: 1280px) {
    
    /** Header (LARGE)- - - - - - - - - - - - - - - - - - - - - - */
    nav {
        display: grid;
        grid-template-columns: 110px repeat(5, 1fr) 110px;
        grid-template-rows: 110px 0px;
        grid-template-areas:
          "home search search search search search sign"
          "mainnav mainnav mainnav mainnav mainnav mainnav mainnav";
        text-align: center;
        background-color: white;
        min-width: 400px;
        border-bottom: solid 2px rgb(193, 189, 189);
        gap:0px;
      }

        #home-logo {
            background-color: #EB5428;
            grid-area: home;
            height: 100%;
        }
              
        #sign-in {
            grid-area: sign;
            color: #EB5428;
            width: 100%;
            background-color: #ffffff;
            padding-top: 0px;
            margin-top: 25px;
        }
            
        #sign-in figure{
            margin: 0;
        }

        #search input {
            width: 280px;
            height: 50px;
        }
        #search button {
            height: 50px;
            position: relative;
            top: 7px;
        }
              
        #search {
            grid-area: mainnav;
            padding-top: 35px;
            justify-self: center;
        }
            
        #hamburger-menu {
            grid-area: search;
            align-self: center;
            max-height: 110px;
        }
        
        #mainnav {
            overflow: visible;
            display: flex;
            position: relative;
            top: -10px;
        }
        
        #mainnav li {
            width: 90px;
            height: 120px;
            margin: 30px 10px 20px 10px;
        } 

        #mainnav img {
            height: 62px;
        }

        #mainnav figure {
            margin: 0;
        }
        
        #mainnav figcaption{
            position: relative;
            top: 90px;
            text-align: center;
        }
        
        #hamburger-menu label span, nav>input {
            display: none;
        } 
        
        /** Main (LARGE)- - - - - - - - - - - - - - - - - - - - - - */
        
            main {
            padding-top: 105px;
        }
        
            #intro {
                display: flex;
                padding-top: 25px;
            }
        
            h1 {
                text-align: center;
                padding-left: 0px;
            }
        
            #intro menu {
                background-color: white;
                border: 3px solid #EB5428;
                display: flex;
                flex-direction: column;
                margin: 0;
            }

            #intro img {  
                height: 750px;
                width: 500px;
            }
        
            #intro-text {
                padding-left: 20px;
                padding-right: 25px;
            }
            #intro p {
                margin: 0;
                line-height: 2;
            }

            #tacos {
                padding-top: 60px;
            }

        /** Main: details ingredients directions (LARGE)- - - - - - - - - - - - - - - - - */
         #details {
            padding-top: 20px;
            background-color: black;
            color: #7ABFBF;
        }    
    
        #details dl{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            text-align: center;
            justify-items: center;
        }

        #details dl dd {
            order: 2;
            margin: 0;
        }
    
        #ingredients-directions {
            display: flex;
            gap: 20px;
            justify-items: center;
        }
    
        #ingredients {
            flex-basis: 60%;
        }
        #directions, #ingredients {
           padding-top: 20px;
        }
    
        /** Aside (LARGE)- - - - - - - - - - - - - - - - - - - - - - */
        aside {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 80px 1fr;
            grid-template-areas: 
                "title title title title"
                "rice salsa guac tort";
                column-gap: 10px;
        }

        aside h2 {
            grid-area: title;
        }

        #rice, #salsa, #guac, #tort {
            display: grid;
            grid-template-columns: 80px 1fr;
            grid-template-rows: 260px 35px 35px 33px;
            grid-template-areas: 
                "img img"
                "h3 h3"
                "p p"
                "rating stars";
            padding: 25px 0 25px 35px;
          }
        
        #rice h3, #salsa h3, #guac h3, #tort h3 {
            grid-area: h3;
        }

        #rice p.bold, #salsa p.bold, #guac p.bold, #tort p.bold {
            grid-area: rating;
            align-self: center;
        }

        #rice p:first-of-type, #salsa p:first-of-type, #guac p:first-of-type, #tort p:first-of-type {
            grid-area: p;
            align-self: center;
        }

        #rice div, #salsa div, #guac div, #tort div {
            grid-area: stars;
            align-self: center;
        }

        aside img {
            max-width: 256px;
            padding: 0;   
        }  

        /** Footer (LARGE) - - - - - - - - - - - - - - - - - - - - - - */
        footer {
            grid-template-columns: 1fr 1fr 3fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "img small menu";
            gap: 20px;
            padding: 20px 40px 20px 20px;
        }

        footer menu {
            justify-self: end;
        }
        footer small {
            justify-self: start;
        }
}


/**  >>>>>>>>>>>>> - - - - Print Styles - - - - - <<<<<<<<<<<<<<<< */
@media print {
    body {
        margin: 0 1in 0 1in;
        background-color: white;
        display: block;
    }
    h1, h2, h3, p, figcaption, li, dd, dt, small, menu li h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 0;
        margin: 0;
        color: black;
    }

    #intro img {
        width: 2in;
        filter: grayscale(1);
        float: left;
        margin-right: .5in;
    }

    #intro menu, aside, #search, #mainnav, span a, #hamburger-menu, #signin, header svg, header figcaption, menu figcaption, footer img {
        display: none;
        height: 0;
    }

    #tacos {
        padding-top: 0;
        margin-top: -0.5in;
    }

    h2, h3 {
        text-align: left;
        margin: 0;
        padding-left: 0;
    }

    #ingredients-directions {
        display: flex;
    }

    #tacos h2 {
        padding-bottom: .25in;
        font-size: 35px;
    }

    h3, #details h2 {
        font-size: 25px;
    }

    p, dd, dt, li {
        font-size: 16px;
    }

    .printonly {
        display: block;
        width: 100%;
    }
    footer menu svg{
        stroke: black;
    }

    small {
        font-size: 12px;
        padding-top: 0.25in;
        position: absolute;
        bottom: -0.5in;
    }

    footer a[href]::after {
        content: " " attr(href) " ";
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 15px;
    }
    footer menu {
        padding: 0;
        margin: 0;
    }
}
